
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Panel</title>
</head>
<body>
     <a asp-action="Add Product" >Add product</a>
<a asp-action="Remove Product"> remove product</a>
 <a asp-action="Edit Product">edit product</a>
</body>
</html>
