@model IEnumerable<itehaProject.Models.orderItems>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>
   total is @ViewData["count"];
are you finalizing your order
<a asp-action="Index" asp-controller="Product">yes </a>
<a asp-action="Index" asp-controller="Product">no</a>
</body>
</html>
